/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/*header*/ 

header {
    width: 100%;
    height: auto;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}

header .list ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .list ul li {
    margin: 0 15px;
}

header .list ul li a {
    text-decoration: none;
    color: rgb(0, 68, 255);
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

header .list ul li a:hover {
    color: grey;
}

header .icon i {
    font-size: 18px;
    color: black;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

header .icon i:hover {
    color: gray;
}

/* Burger icon */
.burger {
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}



/* Section styles */
section {
    margin-top: 120px; /* Adjust according to header height */
    padding: 20px;
}

section h1,
section h2,
section h3 {
    text-align: center;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

section p {
    margin-bottom: 20px;
}

/* Additional section styles */
.mashroom_content,
.what_are_mashroom,
.how_to_cook_mashroom,
.taste_like,
.where_to_buy,
.storage {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {

    header .list ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px 20px;
    }
    header .list ul.active {
        display: flex;
    }
    .burger {
        display: block;
    }

    .mashroom_content,
    .what_are_mashroom,
    .how_to_cook_mashroom,
    .taste_like,
    .where_to_buy,
    .storage {
        width: 90%;
        margin: 0 auto 20px;
    }
}

